.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 100px 10px 100px;
  align-items: center;
  background-color: white;
}

.titleDetails {
  color: black;
  font-size: 29px;
  text-align: center;
}

.subtitleDetails {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.contentDetails {
  text-align: justify;
  font-size: 15px;
}

.tagsDetails {
  width: 100%;
}

.tagsButton {
  background-color: black;
  margin-right: 5px;
}

.tagsButton:hover {
  background-color: #26145c;
}

.videoDetails {
  padding-top: 20px;
  padding-bottom: 40px;
}

.detailsButtonList {
  margin-right: 10px;
}

.deleteButton {
  background-color: red;
}

.deleteButton:hover {
  background-color: rgb(148, 4, 4);
}
