.homepage {
  display: flex;
  justify-content: space-between;
  padding: 25px 0px 0px;
  align-items: center;
}

.homepageadmin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: white;
  margin-top: 10px;
  border-radius: 20px;
}
